[submodule "notebook"]
	path = notebook
	url = https://github.com/WangLab-ComputationalBiology/btc-sc-notebooks.git
[submodule "container"]
	path = container
	url = https://github.com/WangLab-ComputationalBiology/btc-sc-containers.git
[submodule "modules"]
	path = modules
	url = https://github.com/WangLab-ComputationalBiology/btc-sc-modules
[submodule "btc-sc-modules"]
	path = modules
	url = https://github.com/WangLab-ComputationalBiology/btc-sc-modules
