params {

    config_profile_name        = 'Seadragon'
    config_profile_description = 'MD Anderson HPC environment'

    module = 'singularity/3.7.0'

    singularity {
        enabled = true
        autoMounts = true
    }

    process {

        time = '24h'
        executor = 'lsf'
        queue = 'medium'

        withLabel:process_single {
            queue = 'transfer'
            cpus   = { check_max( 1                  , 'cpus'    ) }
            memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
            time   = { check_max( 4.h  * task.attempt, 'time'    ) }
        }

        withLabel:process_low {
            cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
            memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
            time   = { check_max( 4.h   * task.attempt, 'time'    ) }
        }

        withLabel:process_medium {
            cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
            memory = { check_max( 48.GB * task.attempt, 'memory'  ) }
        }

        withLabel:process_high {
            cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
            memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        }

        withLabel:process_transfer {
            queue  = "transfer"
            cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
            memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        }

    }
    
}
